@import '../../../style/Variables.css';

.film {
    display: flex;
}

.film_image {
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

.film__info{
    margin: 16px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.film__details {
    display: flex;
    gap: 0.5rem;
}

.film__label {
    font-weight: bold;
    min-width: 150px;
    font-family: var(--font-family-regular);
    color: #fbb264;
}

.film__value,
.film__value a {
    font-family: var(--font-family-italic);
    color:  var(--text-color);
    line-height: 1.6;
    text-decoration: underline;
}

.film__details__namefilm {
    color: var(--accent-color);
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-family-regular);
}

.film__description{
    font-family: var(--font-family-regular);
    color: var(--text-color);
    line-height: 1.6;
}