@import '../../style/Variables.css';

.home-main {
    position: relative;
    padding: 2rem 2rem;
    text-align: center;
    color: var(--text-color);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-main__images {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: var(--home-main-gap);
    margin-bottom: 3rem;
    perspective: 1000px;
}

.home-main__img {
    width: var(--home-main-img-width);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-sizing: border-box;
    display: flex;
    padding: var(--home-main-img-padding);
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--home-main-img-border-radius);
    border: var(--home-main-img-border);
    background: #333;
    box-shadow: var(--shadow-image);
}

.home-main__img:hover {
    transform: scale(var(--home-main-img-hover-scale)) rotateY(0deg);
    box-shadow: var(--home-main-img-hover-box-shadow);
}

.img--rotate-left {
    transform: rotate(calc(-1 * var(--img-rotate-angle)));
}

.img--rotate-right {
    transform: rotate(var(--img-rotate-angle));
}

.img--flip {
    transform: rotate(calc(-1 * var(--img-rotate-angle)));
}

.home-main__text p,
.home-main__text h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    max-width: var(--home-main-text-max-width);
    margin: 0 auto;
    font-family: var(--font-family-regular);
}