@import './style/Variables.css';

body {
    background-image: var(--background-image);
    background-position: var(--bg-position); 
    background-size: var(--bg-size);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: var(--margin-body);
}

body::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    border: 2px solid var(--border-color); 
    box-sizing: border-box; 
    background-color: var(--bg-overlay-color); 
    z-index: -1; 
}